.test-div {
    max-width: 300px;
    margin-bottom: 1.45rem;
}

.splash-container {
    min-height: 600px;
    margin: 0 auto;
    max-width: 960px;
    padding: 50px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .splash-title {
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 3em;
    }

    .splash-dropdown {
        min-width: 200px !important;
    }

    .splash-search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        padding: 10px;
        border-radius: 25px;
        width: 600px;
    }

    @media screen and (max-width: 600px) {
        .splash-title {
            text-align: center;
        }

        .splash-search {
            width: 100%;

            flex-direction: column;
            > div {
                min-width: 100%;
                padding: 5px;

                >div {
                    min-width: 100%;
                }
            }
        }
    }
}
