// All imports and variables in here please
@import "../../node_modules/semantic-ui-css/semantic.min.css";
@import "../../node_modules/react-datepicker/dist/react-datepicker.css";

.text-center {
    text-align: center;
}

.footer {
    padding: 24px;
    display: flex;
    justify-content: flex-end;
    background-color: #b7e778;
}